section.repository-list {
  background-color: #fafafa;

  h1 {
    margin-bottom: 16px;
    padding: 48px 48px 0 48px;
    color: #383838;
    font-style: italic;
  }

  ul {
    list-style: none;
    padding: 48px;

    li {
      background-color: #e5e5e5 ;
      padding: 20px;
      border-radius: 6px;

      & + li {
        margin-top:  20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        text-decoration: none;
        display: inline-block;
        margin-top: 16px;
        color: #333533;
      }
    }
  }
}